@charset "UTF-8";

.header {
  background-color: var(--black-color-05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.email {
  font-size: 0.875rem;
  font-weight: 400;
}